<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uoft.jonathan.campfire">

    <uses-sdk
        android:minSdkVersion="13"
        tools:overrideLibrary="android.support.v13" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1"
        tools:replace="android:value" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.uoft.jonathan.campfire.SplashActivity"
            android:navigationBarColor="@color/colorPrimaryDark"
            android:screenOrientation="portrait"
            android:statusBarColor="@color/colorPrimaryDark"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uoft.jonathan.campfire.PromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uoft.jonathan.campfire.LoginActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.PromoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.uoft.jonathan.campfire.SignUpActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.PromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uoft.jonathan.campfire.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.uoft.jonathan.campfire.HelpActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.MainActivity" />
        <activity
            android:name="com.uoft.jonathan.campfire.PersonalizeActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.uoft.jonathan.campfire.MessengerActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.uoft.jonathan.campfire.SettingsActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.MainActivity" />
        <activity
            android:name="com.uoft.jonathan.campfire.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName="com.uoft.jonathan.campfire.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.uoft.jonathan.campfire.ScheduleActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.PersonalizeActivity" />
        <activity
            android:name="com.uoft.jonathan.campfire.ChangePasswordActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.MainActivity" />
        <activity
            android:name="com.uoft.jonathan.campfire.AccountRecoveryActivity"
            android:parentActivityName="com.uoft.jonathan.campfire.LoginActivity" />
        <activity
            android:name="com.uoft.jonathan.campfire.ClassmatesProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName="com.uoft.jonathan.campfire.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.uoft.jonathan.campfire.AdminActivity"
            android:label="@string/title_activity_admin" />
        <activity android:name="com.uoft.jonathan.campfire.RatingActivity" />
        <activity android:name="com.uoft.jonathan.campfire.MessageFragmentAdapter"></activity>
    </application>

</manifest>